<a href="https://colab.research.google.com/github/Manishipynb/module1assesment/blob/main/BigDataPythonMegaAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q.1
## Why do we call Python as a general purpose and high-level programming language?

### A.1
### Python is an object-oriented, high-level programming language. Object-oriented means this language is based around objects (such as data) rather than functions, and high-level means it's easy for humans to understand.

### Because they are not written in machine-readable language, Python programs need to be processed before machines can run them. Python is an interpreted language. This means that every time a program is run, its interpreter runs through the code and translates it into machine-readable byte code

## Q.2
## Why is Python called a dynamically typed language?

### A.2
### Python is both a strongly typed and a dynamically typed language. Strong typing means that variables do have a type and that the type matters when performing operations on a variable. Dynamic typing means that the type of the variable is determined only during runtime.

### A language is dynamically typed if the type is associated with run-time values, and not named variables/fields/etc. This means that you as a programmer can write a little quicker because you do not have to specify types every time (unless using a statically-typed language with type inference).

## Q.3
## List some pros and cons of Python programming language?

### A.3
### **The pros of Python**
### Python is easy to learn and read
### Python enhances productivity
### Python has a vast collection of libraries
### Python is free, open-source, and has a vibrant community
### Python is a portable programming language
### Python is an interpreted language

### **The cons of python programming language**
### Python has speed limitations
### Python is not so strong with mobile computing
### Python can have runtime errors
### Python consumes a lot of memory space
### Python is not easy to test

## Q.4
## In what all domains can we use Python?

### A.4

### Machine learning / Artificial intelligence
### Desktop GUI
### Data analytics and data visualization 
### Web development
### Game development
### Mobile app development
### Embedded systems

## Q.5
## What are variable and how can we declare them?

## A.5
## A variable declaration always contains two components: the type of the variable and its name. Also, the location of the variable declaration, that is, where the declaration appears in relation to other code elements, determines the scope of the variable.

## Q.6
## How can we take an input from the user in Python?

## A.6
## input (): This function first takes the input from the user and converts it into a string. The type of the returned object always will be <type ‘str’>. It does not evaluate the expression it just returns the complete statement as String. For example, Python provides a built-in function called input which takes the input from the user. When the input function is called it stops the program and waits for the user’s input. When the user presses enter, the program resumes and returns what the user typed. 

### Syntax:

### inp = input('STATEMENT')

## Q.7
## What is the default datatype of the value that has been taken as an input using input() function?

### A.7
###  The input() function by default returns the value as string data type

## Q.8
## What is type casting?

### A.8
### Type Casting is the method to convert the variable data type into a certain data type in order to the operation required to be performed by users. In this article, we will see the various technique for typecasting. There can be two types of Type Casting in Python – Implicit Type Casting. Explicit Type Casting

## Q.9
## Can we take more than one input from the user using single input() function? If yes, how? If no, why?

### A.9
### With the help of the split () function, developers can easily collect multiple inputs in Python from the user and assign all the inputs to the respective variables. Developers can specify a character that will be used as a separator to break the input provided by the user.

### In Python user can take multiple values or inputs in one line by two methods. 

### Using split() method
### Using List comprehension

## Q.10
## What are keywords?

### A.10
### Python keywords are special reserved words that have specific meanings and purposes and can't be used for anything but those specific purposes. These keywords are always available—you'll never have to import them into your code. Python keywords are different from Python's built-in functions and types.

## Q.11
## Can we use keywords as a variable? Support your answer with reason.

### A.11
### Keywords are used to define the syntax of the coding. The keyword cannot be used as an identifier, function, and variable name.

### You cannot use keywords as variable names. It's because keywords have predefined meanings.

## Q.12
## What is indentation? What's the use of indentaion in Python?

### A.12
### Indentation refers to the spaces at the beginning of a code line. Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important. Python uses indentation to indicate a block of code.

### Indentation is a very important concept of Python because without properly indenting the Python code, you will end up seeing IndentationError and the code will not get compiled.

### Python indentation refers to adding white space before a statement to a particular block of code. In another word, all the statements with the same space to the right, belong to the same code block.

## Q.13
## How can we throw some output in Python?

### A.13
### The basic way to do output is the print statement. To end the printed line with a newline, add a print statement without any objects. This will print to any object that implements write(), which includes file objects.

## Q.14
## What are operators in Python?

### A.14
### In Python, operators are special symbols that designate that some sort of computation should be performed. The values that an operator acts on are called operands. Here is an example: >>> >>> a = 10 >>> b = 20 >>> a + b 30. In this case, the + operator adds the operands a and b together.

### In Python, there are seven different types of operators: **arithmetic operators, assignment operators, comparison operators, logical operators, identity operators, membership operators, and boolean operators.**

## Q.15
## What is difference between / and // operators?

### A.15
### ** '/' is the division operator. '//' is the floor division operator.**

## Q.16
## Write a code that gives following as an output.
## iNeuroniNeuroniNeuroniNeuron

In [66]:
# A.16

a = "iNeuron"
b = a*4
print(b)

iNeuroniNeuroniNeuroniNeuron

## Q.17
## Write a code to take a number as an input from the user and check if the number is odd or even.

In [67]:
# A.17

num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 12
12 is Even

## Q.18
## What are boolean operator?

### A.18
### The logical operators and, or and not are also referred to as boolean operators. While and as well as or operator needs two operands, which may evaluate to true or false, not operator needs one operand evaluating to true or false. Boolean and operator returns true if both operands return true.

## Q.19

## What will the output of the following?

### 1 or 0

### 0 and 0

### True and False and True

### 1 or 0 or 0

In [4]:
# A.19

1 or 0

1

In [5]:
0 and 0

0

In [6]:
True and False and True

False

In [7]:
1 or 0 or 0

1

## Q.20
## What are conditional statements in Python?

### A.20
### Like every other programming language, Python also has some predefined conditional statements. A conditional statement as the name suggests itself, is used to handle conditions in your program. These statements guide the program while making decisions based on the conditions encountered by the program.

### Python has 3 key Conditional Statements that you should know:

### if statement
### if-else statement
### if-elif-else ladder

## Q.21
## What is use of 'if', 'elif' and 'else' keywords?

### A.21
### if… elif…else are conditional statements that provide you with the decision making that is required when you want to execute code based on a particular condition. The if… elif…else statement used in Python helps automate that decision making process.

## Q.22
## Write a code to take the age of person as an input and if age >= 18 display "I can vote". If age is < 18 display "I can't vote".

In [9]:
# A.22

age = int(input("Please Enter Your Age :"))
if age >= 18:
  print("You Can Vote")
if age < 18:
  print("You Can't Vote")

Please Enter Your Age :45
You Can Vote

## Q.23
## Write a code that displays the sum of all the even numbers from the given list.

# numbers = [12, 75, 150, 180, 145, 525, 50]

In [10]:
# A.23

numbers = [12, 75, 150, 180, 145, 525, 50]
sum = 0
for num in numbers:
  if num % 2 == 0:
    sum = sum + num
print(sum)

392

## Q.24
## Write a code to take 3 numbers as an input from the user and display the greatest no as output.

In [11]:
# A.24


num1 = int(input("Please Enter Number Of Your Choice From 0-100 :"))
num2 = int(input("Please Enter Number Of Your Choice From 0-100 :"))
num3 = int(input("Please Enter Number Of Your Choice From 0-100 :"))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

Please Enter Number Of Your Choice From 0-100 :45
Please Enter Number Of Your Choice From 0-100 :34
Please Enter Number Of Your Choice From 0-100 :12
The largest number is 45

## Q.25
## Write a program to display only those numbers from a list that satisfy the following conditions

## The number must be divisible by five

## If the number is greater than 150, then skip it and move to the next number

## If the number is greater than 500, then stop the loop

## numbers = [12, 75, 150, 180, 145, 525, 50]

In [12]:
# A.25

a = [12, 75, 150, 180, 145, 525, 50]
b = []
for i in a:
    if i > 150:
        if i > 500:
            break
        continue
    if i % 5 == 0:
        b.append(i)
        
print(b)

[75, 150, 145]

## Q.26
## What is a string? How can we declare string in Python?

### A.26
### Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters. However, Python does not have a character data type, a single character is simply a string with a length of 1. Square brackets can be used to access elements of the string.

## Q.27
## How can we access the string using its index?

### A.27
### Individual characters in a string can be accessed by specifying the string name followed by a number in square brackets ( [] ). String indexing in Python is zero-based: the first character in the string has index 0 , the next has index 1 , and so on.

## Q.28
## Write a code to get the desired output of the following

### string = "Big Data iNeuron"
### desired_output = "iNeuron"

In [68]:
# A.28

string = "Big Data iNeuron"
string[-7:]

'iNeuron'

## Q.29
## Write a code to get the desired output of the following

## string = "Big Data iNeuron"
## desired_output = "norueNi"

In [69]:
# A.29

string = "Big Data iNeuron"
new_string = string[-7:]
new_string[::-1]

'norueNi'

## Q.30
## Resverse the string given in the above question.
## string = "Big Data iNeuron"

In [70]:
# A.30

string = "Big Data iNeuron"
string[::-1]

'norueNi ataD giB'

## Q.31
##  How can you delete entire string at once?

### A.31
### Python Remove Character from String using translate()

### Python string translate() function replace each character in the string using the given translation table. We have to specify the Unicode code point for the character and 'None' as a replacement to remove it from the result string.

### The del keyword is used to delete objects. In Python everything is an object, so the del keyword can also be used to delete variables, lists, or parts of a list etc.

## Q.32
## What is escape sequence?

### A.32
### An escape sequence is a sequence of characters that, when used inside a character or string, does not represent itself but is converted into another character or series of characters

### Character combinations consisting of a backslash (\) followed by a letter or by a combination of digits are called "escape sequences." To represent a newline character, single quotation mark, or certain other characters in a character constant, you must use escape sequences

## Q.33
## How can you print the below string?

## 'iNeuron's Big Data Course'

In [71]:
# A.33

string = "iNeuron's Big Data Course"

string

"iNeuron's Big Data Course"

## Q.34
## What is a list in Python?

### A.34
### List. Lists are used to store multiple items in a single variable. Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

### In Python, a list is created by placing elements inside square brackets [] , separated by commas. A list can have any number of items and they may be of different types (integer, float, string, etc.). A list can also have another list as an item. This is called a nested list.

## Q.35

## How can you create a list in Python?

### A.35
### In Python, a list is created by placing elements inside square brackets [] , separated by commas. A list can have any number of items and they may be of different types (integer, float, string, etc.). A list can also have another list as an item. This is called a nested list.

## Q.36
## How can we access the elements in a list?

### A.36
### List literals are written within square brackets [ ]. Lists work similarly to strings -- use the len() function and square brackets [ ] to access data, with the first element at index 0

## Q.37
## Write a code to access the word "iNeuron" from the given list.

## lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]

In [72]:
# A.37

lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
lst[4][2]

'iNeuron'

## Q.38
## Take a list as an input from the user and find the length of the list.

In [73]:
## A.38

ListName = ["Hello", "Edureka", 1, 2, 3]
print ("Number of items in the list = ", len(ListName))

Number of items in the list =  5

In [75]:
2# A.38

lst = []
  
n = int(input("Enter number of elements : "))
  
for i in range(0, n):
    ele = int(input())
  
    lst.append(ele) 
    


print(lst)
print(len(lst))

Enter number of elements : 3
1
2
3
[1, 2, 3]
3

## Q.39
## Add the word "Big" in the 3rd index of the given list.

## lst = ["Welcome", "to", "Data", "course"]

In [76]:
# A.39

lst = ["Welcome", "to", "Data", "course"]
lst.insert(2 , "Big")
lst

['Welcome', 'to', 'Big', 'Data', 'course']

## Q.40
##  What is a tuple? How is it different from list?

### A.40
### The primary difference between tuples and lists is that tuples are immutable as opposed to lists which are mutable. Therefore, it is possible to change a list but not a tuple. The contents of a tuple cannot change once they have been created in Python due to the immutability of tuples.

### 	LIST |	TUPLE
### 1	**Lists** are mutable	| **Tuples** are immutable
### 2	The implication of iterations is Time-consuming | 	The implication of iterations is comparatively Faster
### 3	The **list** is better for performing operations, such as insertion and deletion.	|  **Tuple** data type is appropriate for accessing the elements
### 4	**Lists** consume more memory	| **Tuple** consumes less memory as compared to the list
### 5	**Lists** have several built-in methods	| **Tuple** does not have many built-in methods.
### 6	The unexpected changes and errors are more likely to occur| 	In **tuple**, it is hard to take place.

## Q.41
## How can you create a tuple in Python?

### A.41
### A tuple in Python can be created by enclosing all the comma-separated elements inside the parenthesis (). Elements of the tuple are immutable and ordered. It allows duplicate values and can have any number of elements. You can even create an empty tuple

## Q.42
## Create a tuple and try to add your name in the tuple. Are you able to do it? Support your answer with reason.

### A.42
### You can't add elements to a tuple because of their immutable property. There's no append() or extend() method for tuples, You can't remove elements from a tuple, also because of their immutability.

In [64]:
# A.42

s = ('black','red')
print(s)
print(type(s))

('black', 'red')
<class 'tuple'>

In [77]:
s=('manish')
s_append = s + (8, 16, 67)
print(s_append)
print(s)

TypeError: ignored

## Q.43
##  Can two tuple be appended. If yes, write a code for it. If not, why?

### A.43
### The primary way in which tuples are different from lists is that they cannot be modified. This means that items cannot be added to or removed from tuples, and items cannot be replaced within tuples. You can, however, concatenate 2 or more tuples to form a new tuple. This is because tuples cannot be modified

In [78]:
# A.43
s = (4,5,6)
print(s)
print(type(s))

(4, 5, 6)
<class 'tuple'>

In [79]:
s=(2,5,8)
s_append = s + (8, 16, 67)
print(s_append)
print(s)

(2, 5, 8, 8, 16, 67)
(2, 5, 8)

## Q.44
## Take a tuple as an input and print the count of elements in it.

In [63]:
# A.44

import ast

my_tuple = tuple(input('Enter space-separated words: ').split())

print(my_tuple)
print(len(my_tuple))

Enter space-separated words: m a n i s h
('m', 'a', 'n', 'i', 's', 'h')
6

## Q. 45

## What are sets in Python?

### A.45
### Sets are used to store multiple items in a single variable. Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage. A set is a collection which is unordered, unchangeable*, and unindexed.

## Q.46
## How can you create a set?

## A.46
## A set is created by placing all the items (elements) inside curly braces {} , separated by comma, or by using the built-in set() function. It can have any number of items and they may be of different types (integer, float, tuple, string etc.).

## Q.47
## Create a set and add "iNeuron" in your set.

In [ ]:
# A.47

my_set = {"black" , "red" , "white"}
my_set.add("iNeuron")
my_set

{'black', 'iNeuron', 'red', 'white'}

## Q.48
## Try to add multiple values using add() function.

In [62]:
# A.48

my_set = {"black" , "red" , "white"}
my_set.add("iNeuron")
my_set.add("BigData")
my_set.add("DataEngineering")

my_set

{'BigData', 'DataEngineering', 'black', 'iNeuron', 'red', 'white'}

## Q.49

## How is update() different from add()?

### A.49

### . add() is intended for a single element , while . update() is for the introduction of other sets.

### As add() function add a single element to the set, whereas update() function iterates over the given sequences and adds them to the set.

## Q.50

## What is clear() in sets?

### A.50
### Set. clear() method is used to remove all the elements from a Set. Using the clear() method only clears all the element from the set and not deletes the set. In other words, we can say that the clear() method is used to only empty an existing Set.

### The clear() method removes all elements in a set.

## Q.51

## What is frozen set?

### A.51
### frozenset() in Python
### Python frozenset() Method creates an immutable Set object from an iterable. It is a built-in Python function. As it is a set object therefore we cannot have duplicate values in the frozenset.

### In Python, frozenset() is a function that takes an iterable and returns its frozenset object counterpart. A frozenset object is an immutable, unordered data type. A frozenset contains unique values, which makes it very similar to set data type. It is immutable like tuples

## Q.52
##  How is frozen set different from set?

###  A.52
###  Frozenset is similar to set in Python, except that frozensets are immutable, which implies that once generated, elements from the frozenset cannot be added or removed. This function accepts any iterable object as input and transforms it into an immutable object.

## Q.53
## What is union() in sets? Explain via code.

### A.53
### Python Set union() Method
### The union() method returns a set that contains all items from the original set, and all items from the specified set(s). You can specify as many sets you want, separated by commas. It does not have to be a set, it can be any iterable object.

In [61]:
# A.53

A = {2, 3, 5}
B = {1, 3, 5}

print('A U B = ', A.union(B))

A U B =  {1, 2, 3, 5}

## Q.54
## What is intersection() in sets? Explain via code.

### A.54
### Python Set intersection() Method
### The intersection() method returns a set that contains the similarity between two or more sets. Meaning: The returned set contains only items that exist in both sets, or in all sets if the comparison is done with more than two sets.

In [80]:
# A.54

A = {2, 3, 5}
B = {1, 3, 5}

print(A.intersection(B))

{3, 5}

## Q.55
## What is dictionary in Python?

### A.55
### Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates. As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

## Q.56
##  How is dictionary different from all other data structures ?

### A.56
### The dictionary Data Structure in Python is an unordered collection of items. While other Data Structures use only one value as the element, the dictionary is a slightly more compound data structure. It makes use of two elements i.e. a pair of elements, namely, a key and a value.

## Q.57
## How can we declare a dictionary in Python?

### A.57
### A dictionary in Python is made up of key-value pairs. In the two sections that follow you will see two ways of creating a dictionary. The first way is by using a set of curly braces, {} , and the second way is by using the built-in dict() function.

## Q.58
## What will the output of the following?

### var = {}
### print(type(var)

In [60]:
# A.58

var = {}
print(type(var))

<class 'dict'>

## Q.59
## How can we add an element in a dictionary?

### A.59
### There is no add() , append() , or insert() method you can use to add an item to a dictionary in Python. Instead, you add an item to a dictionary by inserting a new index key into the dictionary, then assigning it a particular value.

## Q.60
## Create a dictionary and access all the values in that dictionary.

In [59]:
# A.60

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
x = thisdict["model"]
x

'Mustang'

In [ ]:
x = thisdict.get("model")

In [ ]:
print(thisdict.values())

dict_values(['Ford', 'Mustang', 1964])

## Q.61
## Create a nested dictionary and access all the element in the inner dictionary.

In [57]:
# A.61

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [58]:
print(myfamily['child1']['name'])
print(myfamily['child2']['year'])

Emil
2007

## Q.62
## What is the use of get() function?

### A.62
### The get() method returns the value of the item with the specified key.

### The get() method returns the value of the item with the specified key.

## Q.63
## What is the use of items() function?

### A.63
### In Python Dictionary, items() method is used to return the list with all dictionary keys with values. Parameters: This method takes no parameters. Returns: A view object that displays a list of a given dictionary's (key, value) tuple pair.

## Q.64
## What is the use of pop() function?

## A.64
## The pop() method removes the element at the specified position.

## Q.65
## What is the use of popitems() function?

### A.65
### The popitem() method removes the item that was last inserted into the dictionary. In versions before 3.7, the popitem() method removes a random item. The removed item is the return value of the popitem() method, as a tuple.

## Q.66
## What is the use of keys() function?

### A.66
### The keys() method in Python Dictionary, returns a view object that displays a list of all the keys in the dictionary in order of insertion using Python. Parameters: There are no parameters. Returns: A view object is returned that displays all the keys.

## Q.67
## What is the use of values() function?

### A.67
### values() is an inbuilt method in Python programming language that returns a view object. The view object contains the values of the dictionary, as a list. If you use the type() method on the return value, you get “dict_values object”. It must be cast to obtain the actual list.

## Q.68
## What are loops in Python?

### A.68
### Looping means repeating something over and over until a particular condition is satisfied. A for loop in Python is a control flow statement that is used to repeatedly execute a group of statements as long as the condition is satisfied. Such a type of statement is also known as an iterative statement.

## Q.69
## How many type of loop are there in Python?

### A.69
### There are two types of loops in Python, for and while.

## Q.70
## What is the difference between for and while loops?

### A.70
### For loop is used when the number of iterations is already known. While loop is used when the number of iterations is already Unknown.

## Q.71
## What is the use of continue statement?

### A.71
### The continue keyword is used to end the current iteration in a for loop (or a while loop), and continues to the next iteration.

## Q.72
## What is the use of break statement?

### A.72
### 'Break' in Python is a loop control statement. It is used to control the sequence of the loop. Suppose you want to terminate a loop and skip to the next code after the loop; break will help you do that. A typical scenario of using the Break in Python is when an external condition triggers the loop's termination.

## Q.73
## What is the use of pass statement?

### A.73
### The pass statement is used as a placeholder for future code. When the pass statement is executed, nothing happens, but you avoid getting an error when empty code is not allowed. Empty code is not allowed in loops, function definitions, class definitions, or in if statements.

## Q.74
## What is the use of range() function?

### A.74
### The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

## Q.75
## How can you loop over a dictionary?

### A.75
### Dictionary in Python is an unordered collection of data values, used to store data values like a map, unlike other Data Types that hold only a single value as an element, Dictionary holds the key: value pair. 

### There are multiple ways to iterate over a dictionary in Python.

### Access key using the build .keys() 
### Access key without using a key() 
### Iterate through all values using .values()
### Iterate through all key, and value pairs using items()
### Access both key and value without using items()
### Print items in Key-Value in pair

## Q.76
## Write a Python program to find the factorial of a given number.

In [13]:
# A.76

def factorial(n):
     return 1 if (n==1 or n==0) else n * factorial(n - 1);
 
num = 5;
print("Factorial of",num,"is",
factorial(num))

Factorial of 5 is 120

## Q.77
## Write a Python program to calculate the simple interest. Formula to calculate simple interest is SI = (PRT)/100

In [14]:
# A.77

def simple_interest(p,t,r):
    print('The principal is', p)
    print('The time period is', t)
    print('The rate of interest is',r)
     
    si = (p * t * r)/100
     
    print('The Simple Interest is', si)
    return si
     

simple_interest(8, 6, 8)

The principal is 8
The time period is 6
The rate of interest is 8
The Simple Interest is 3.84

3.84

## Q.78
## Write a Python program to calculate the compound interest. Formula of compound interest is A = P(1+ R/100)^t.

In [15]:
# A.78

def compound_interest(principle, rate, time):
 
    Amount = principle * (pow((1 + rate / 100), time))
    CI = Amount - principle
    print("Compound interest is", CI)
 
compound_interest(10000, 10.25, 5)

Compound interest is 6288.946267774416

## Q.79
## Write a Python program to check if a number is prime or not.

In [16]:
# A.79

num = 11

if num > 1:
   
    for i in range(2, int(num/2)+1):
       
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

11 is a prime number

## Q.80
## Write a Python program to check Armstrong Number.

In [17]:
# A.80

n = 153  
s = n  
b = len(str(n))
sum1 = 0
while n != 0:
    r = n % 10
    sum1 = sum1+(r**b)
    n = n//10
if s == sum1:
    print("The given number", s, "is armstrong number")
else:
    print("The given number", s, "is not armstrong number")

The given number 153 is armstrong number

## Q.81
## Write a Python program to find the n-th Fibonacci Number.

In [18]:
# A.81

def Fibonacci(n):
    if n<= 0:
        print("Incorrect input")
         
    elif n == 1:
        return 0
   
    elif n == 2:
        return 1
    else:
        return Fibonacci(n-1)+Fibonacci(n-2)
 

 
print(Fibonacci(10))

34

## Q.82
## Write a Python program to interchange the first and last element in a list.

In [19]:
# A.82

def swapList(newList):
     
    newList[0], newList[-1] = newList[-1], newList[0]
 
    return newList
     

newList = [12, 35, 9, 56, 24]
print(swapList(newList))

[24, 35, 9, 56, 12]

## Q.83
## Write a Python program to swap two elements in a list.

In [20]:
# A.83

def swapPositions(list, pos1, pos2):
     
    list[pos1], list[pos2] = list[pos2], list[pos1]
    return list
 

List = [23, 65, 19, 90]
pos1, pos2  = 1, 3
 
print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

## Q.84
## Write a Python program to find N largest element from a list.

In [21]:
# A.84


def Nmaxelements(list1, N):
    final_list = []
 
    for i in range(0, N):
        max1 = 0
         
        for j in range(len(list1)):    
            if list1[j] > max1:
                max1 = list1[j];
                 
        list1.remove(max1);
        final_list.append(max1)
         
    print(final_list)
 

list1 = [2, 6, 41, 85, 0, 3, 7, 6, 10]
N = 2
 

Nmaxelements(list1, N)

[85, 41]

## Q.85
## Write a Python program to find cumulative sum of a list.

In [23]:
# A.85

list=[10,20,30,40,50]
new_list=[]
j=0
for i in range(0,len(list)):
    j+=list[i]
    new_list.append(j)
     
print(new_list)

[10, 30, 60, 100, 150]

## Q.86
##  Write a Python program to check if a string is palindrome or not.

In [24]:
# A.86

def isPalindrome(s):
    return s == s[::-1]
 
s = "manish"
ans = isPalindrome(s)
 
if ans:
    print("Yes")
else:
    print("No")

No

## Q.87
## Write a Python program to remove i'th element from a string.

In [28]:
# A.87

def remove(string, i): 
  
    for j in range(len(string)):
        if j == i:
            string = string.replace(string[i], "", 1)
    return string
      
if __name__ == '__main__':
      
    string = "helloworld world is beautifull"
      
    
    i = 5
    
    
    print(remove(string, i))

helloorld world is beautifull

## Q.88
## Write a Python program to check if a substring is present in a given string.

In [29]:
# A.88


MyString1 = "hello world world is beautifull "
 
if "world" in MyString1:
    print("Yes! it is present in the string")
else:
    print("No! it is not present")

Yes! it is present in the string

## Q.89
## Write a Python program to find words which are greater than given length k.

In [31]:
# A.89

sentence = "hello world , world is beautifull , lets save our world"
length = 4
print([word for word in sentence.split() if len(word) > length])

['hello', 'world', 'world', 'beautifull', 'world']

## Q.90
## Write a Python program to extract unquire dictionary values.

In [ ]:
# A.90

dict1 = {'A' : [1, 3, 5, 4],
             'B' : [4, 6, 8, 10],
             'C' : [6, 12, 4 ,8],
             'D' : [5, 7, 2]}

print("The original dictionary is : " ,dict1)
  

res = list(sorted({ele for val in dict1.values() for ele in val}))
  

print("The unique values list is : " , res)

## Q.91
## Write a Python program to merge two dictionary.

In [37]:
# A.91

def Merge(dict1, dict2):
    return(dict2.update(dict1))
 
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}
 

print(Merge(dict1, dict2))
 

print(dict2)

None
{'d': 6, 'c': 4, 'a': 10, 'b': 8}

## Q.92
## Write a Python program to convert a list of tuples into dictionary.

### Input : [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
### Output : {'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

In [38]:
# A.92

def Convert(tup, di):
    for a, b in tup:
        di.setdefault(a, []).append(b)
    return di
      
   
tups = [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
dictionary = {}
print (Convert(tups, dictionary))

{'Sachin': [10], 'MSD': [7], 'Kohli': [18], 'Rohit': [45]}

## Q.93
## Write a Python program to create a list of tuples from given list having number and its cube in each tuple.

### Input: list = [9, 5, 6]
### Output: [(9, 729), (5, 125), (6, 216)]

In [39]:
# A.93

list1 = [9, 5, 6]
 
res = [(val, pow(val, 3)) for val in list1]
 
print(res)

[(9, 729), (5, 125), (6, 216)]

## Q.94
## Write a Python program to get all combinations of 2 tuples.

### Input : test_tuple1 = (7, 2), test_tuple2 = (7, 8)
### Output : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

In [40]:
# A.94

test_tuple1 = (7, 2)
test_tuple2 = (7, 8)
  

print("The original tuple 1 : " + str(test_tuple1))
print("The original tuple 2 : " + str(test_tuple2))
  

res =  [(a, b) for a in test_tuple1 for b in test_tuple2]
res = res +  [(a, b) for a in test_tuple2 for b in test_tuple1]
   
print("The filtered tuple : " + str(res))

The original tuple 1 : (7, 2)
The original tuple 2 : (7, 8)
The filtered tuple : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

## Q.95
## Write a Python program to sort a list of tuples by second item.

### Input : [('for', 24), ('Geeks', 8), ('Geeks', 30)] 
### Output : [('Geeks', 8), ('for', 24), ('Geeks', 30)]

In [43]:
# A.95

def Sort_Tuple(tup):
     
    
    lst = len(tup)
    for i in range(0, lst):
         
        for j in range(0, lst-i-1):
            if (tup[j][1] > tup[j + 1][1]):
                temp = tup[j]
                tup[j]= tup[j + 1]
                tup[j + 1]= temp
    return tup
 

tup =[('for', 24), ('Geeks', 8), ('Geeks', 30)]
       
print(Sort_Tuple(tup))

[('Geeks', 8), ('for', 24), ('Geeks', 30)]

## Q.96
## Write a python program to print below pattern.

### * 
### * * 
### * * * 
### * * * * 
### * * * * *

In [45]:
# A.96

for i in range(1,6):
 print('*'*i)

*
**
***
****
*****

## Q.97
## Write a python program to print below pattern.

In [51]:
# A.97

rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    
    for j in range(0, k):
        
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        
        print("* ", end="")
    print("")

        *
      * *
    * * *
  * * * *
* * * * *

## Q.98
## Write a python program to print below pattern.

In [53]:
# A.98

size = 5
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    
    m = m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

        *
       *  *
      *  *  *
     *  *  *  *
    *  *  *  *  *

## Q.99
## Write a python program to print below pattern.

### 1 
### 1 2 
### 1 2 3 
### 1 2 3 4 
### 1 2 3 4 5

In [54]:
# A.99

rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## Q.100
## 100. Write a python program to print below pattern.

### A 
### B B 
### C C C 
### D D D D 
### E E E E E

In [56]:
# A.100

def alphapat(n):
     
    
    num = 65
 
    
    for i in range(0, n):
     
        
        for j in range(0, i+1):
         
           
            ch = chr(num)
         
            
            print(ch, end=" ")
     
        
        num = num + 1
     
        
        print("\r")
 

n = 5
alphapat(n)

A
B B
C C C
D D D D
E E E E E