<a href="https://colab.research.google.com/github/Manishipynb/module1assesment/blob/main/BigDataPandasAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Q.1
### How do you load a CSV file into a Pandas DataFrame?

In [ ]:
# A.1

import pandas as pd

df = pd.read_csv('data.csv')

### Q2. How do you check the data type of a column in a Pandas DataFrame?

In [ ]:
# A.2

df.dtypes

### Q3. How do you select rows from a Pandas DataFrame based on a condition?

In [ ]:
# A.3

df[2:4]

### Q4. How do you rename columns in a Pandas DataFrame?

In [ ]:
# A.4

# Method 1: Rename Specific Columns

df.rename(columns = {'old_col1':'new_col1', 'old_col2':'new_col2'}, inplace = True)

# Method 2: Rename All Columns

df.columns = ['new_col1', 'new_col2', 'new_col3', 'new_col4']


# Method 3: Replace Specific Characters in Columns

df.columns = df.columns.str.replace('old_char', 'new_char')

### Q5. How do you drop columns in a Pandas DataFrame?

In [ ]:
# A.5

# delete the column 'Locations'
del df['Locations']
df

# Drop the label 'Locations'
df.drop(labels='Locations', axis=1)

### Q6. How do you find the unique values in a column of a Pandas DataFrame?

### A.6
### You can get unique values in column (multiple columns) from pandas DataFrame using unique() or Series.unique() functions. unique() from Series is used to get unique values from a single column and the other one is used to get from multiple columns.

### Unique removes all duplicate values on a column and returns a single value for multiple same values.

### Q.7 How do you find the number of missing values in each column of a Pandas DataFrame?

### A.7
### df. isnull(). sum() will give the column-wise sum of missing values.

### Q.8 How do you fill missing values in a Pandas DataFrame with a specific value?

### A.8
### Use the fillna() Method
### The fillna() function iterates through your dataset and fills all empty rows with a specified value. This could be the mean, median, modal, or any other value.

### Q.9 How do you concatenate two Pandas DataFrames?

### A.9
### The concat() function in pandas is used to append either columns or rows from one DataFrame to another. The concat() function does all the heavy lifting of performing concatenation operations along an axis while performing optional set logic (union or intersection) of the indexes (if any) on the other axes.

In [ ]:
import pandas as pd
# First DataFrame
df1 = pd.DataFrame({'id': ['A01', 'A02', 'A03', 'A04'],
                    'Name': ['ABC', 'PQR', 'DEF', 'GHI']})
  
# Second DataFrame
df2 = pd.DataFrame({'id': ['B05', 'B06', 'B07', 'B08'],
                    'Name': ['XYZ', 'TUV', 'MNO', 'JKL']})
  
  
frames = [df1, df2]
  
result = pd.concat(frames)
display(result)

    id Name
0  A01  ABC
1  A02  PQR
2  A03  DEF
3  A04  GHI
0  B05  XYZ
1  B06  TUV
2  B07  MNO
3  B08  JKL

### Q10. How do you merge two Pandas DataFrames on a specific column?

### A.10
### We can merge two Pandas DataFrames on certain columns using the merge function by simply specifying the certain columns for merge.

In [ ]:
# importing modules
import pandas as pd
  
# creating a dataframe
df1 = pd.DataFrame({'Name':['Raju', 'Rani', 'Geeta', 'Sita', 'Sohit'],
                    'Marks':[80, 90, 75, 88, 59]})
  
# creating another dataframe with different data
df2 = pd.DataFrame({'Name':['Raju', 'Divya', 'Geeta', 'Sita'],
                    'Grade':['A', 'A', 'B', 'A'],
                    'Rank':[3, 1, 4, 2 ],
                    'Gender':['Male', 'Female', 'Female', 'Female']})
# display df1
display(df1)
  
# display df2
display(df2)

    Name  Marks
0   Raju     80
1   Rani     90
2  Geeta     75
3   Sita     88
4  Sohit     59

    Name Grade  Rank  Gender
0   Raju     A     3    Male
1  Divya     A     1  Female
2  Geeta     B     4  Female
3   Sita     A     2  Female

In [ ]:
# applying merge
df1.merge(df2[['Name', 'Grade', 'Rank']])

    Name  Marks Grade  Rank
0   Raju     80     A     3
1  Geeta     75     B     4
2   Sita     88     A     2

### Q11. How do you group data in a Pandas DataFrame by a specific column and apply an aggregation function?

In [8]:
# A. 11
import pandas as pd
df1 = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [13]:
df1.aggregate('Fare')

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64

### Q12. How do you pivot a Pandas DataFrame?

In [14]:
# A.12

import pandas as pd
  
df = pd.DataFrame({'A': ['John', 'Boby', 'Mina'],
      'B': ['Masters', 'Graduate', 'Graduate'],
      'C': [27, 23, 21]})
  
df

      A         B   C
0  John   Masters  27
1  Boby  Graduate  23
2  Mina  Graduate  21

### Q13. How do you change the data type of a column in a Pandas DataFrame?

In [15]:
# A.13

# importing pandas as pd
import pandas as pd
 
# sample dataframe
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [1.1, '1.0', '1.3', 2, 5]})
 
# converting all columns to string type
df = df.astype(str)
print(df.dtypes)

A    object
B    object
C    object
dtype: object

### Q14. How do you sort a Pandas DataFrame by a specific column?

In [17]:
# A.14

# import pandas library as pd
import pandas as pd
  
# List of Tuples
students = [('Ankit', 22, 'Up', 'Geu'),
           ('Ankita', 31, 'Delhi', 'Gehu'),
           ('Rahul', 16, 'Tokyo', 'Abes'),
           ('Simran', 41, 'Delhi', 'Gehu'),
           ('Shaurya', 33, 'Delhi', 'Geu'),
           ('Harshita', 35, 'Mumbai', 'Bhu' ),
           ('Swapnil', 35, 'Mp', 'Geu'),
           ('Priya', 35, 'Uk', 'Geu'),
           ('Jeet', 35, 'Guj', 'Gehu'),
           ('Ananya', 35, 'Up', 'Bhu')
            ]
  
# Create a DataFrame object from
# list of tuples with columns
# and indices.
details = pd.DataFrame(students, columns =['Name', 'Age',
                                           'Place', 'College'],
                        index =[ 'b', 'c', 'a', 'e', 'f',
                                'g', 'i', 'j', 'k', 'd'])
  
# Sort the rows of dataframe by 'Name' column
rslt_df = details.sort_values(by = 'Name')
  
# show the resultant Dataframe
rslt_df

       Name  Age   Place College
d    Ananya   35      Up     Bhu
b     Ankit   22      Up     Geu
c    Ankita   31   Delhi    Gehu
g  Harshita   35  Mumbai     Bhu
k      Jeet   35     Guj    Gehu
j     Priya   35      Uk     Geu
a     Rahul   16   Tokyo    Abes
f   Shaurya   33   Delhi     Geu
e    Simran   41   Delhi    Gehu
i   Swapnil   35      Mp     Geu

### Q15. How do you create a copy of a Pandas DataFrame?

### A.15

### Pandas DataFrame copy() Method
### The copy() method returns a copy of the DataFrame. By default, the copy is a "deep copy" meaning that any changes made in the original DataFrame will NOT be reflected in the copy.

### Q16. How do you filter rows of a Pandas DataFrame by multiple conditions?

### A.16
### Using Loc to Filter With Multiple Conditions
### The loc function in pandas can be used to access groups of rows or columns by label. Add each condition you want to be included in the filtered result and concatenate them with the & operator. You'll see our code sample will return a pd. dataframe of our filtered rows.

### Q17. How do you calculate the mean of a column in a Pandas DataFrame?

### A.17
### To get column average or mean from pandas DataFrame use either mean() and describe() method. The DataFrame. mean() method is used to return the mean of the values for the requested axis.

In [18]:
# importing pandas as pd
import pandas as pd
  
# Creating the dataframe 
df = pd.DataFrame({"A":[12, 4, 5, 44, 1],
                   "B":[5, 2, 54, 3, 2], 
                   "C":[20, 16, 7, 3, 8],
                   "D":[14, 3, 17, 2, 6]})
  
# Print the dataframe
df

    A   B   C   D
0  12   5  20  14
1   4   2  16   3
2   5  54   7  17
3  44   3   3   2
4   1   2   8   6

In [19]:
df.mean(axis = 0)

A    13.2
B    13.2
C    10.8
D     8.4
dtype: float64

### Q18. How do you calculate the standard deviation of a column in a Pandas DataFrame?

### A.18
### Standard deviation is calculated using the function . std() . However, the Pandas library creates the Dataframe object and then the function . std() is applied on that Dataframe .

### Q19. How do you calculate the correlation between two columns in a Pandas DataFrame?

### A.19
### By using corr() function we can get the correlation between two columns in the dataframe.

### Q20. How do you select specific columns in a DataFrame using their labels?

In [20]:
# A.20

# import pandas
import pandas as pd
 
# List of Tuples
employees = [('Stuti', 28, 'Varanasi', 20000),
            ('Saumya', 32, 'Delhi', 25000),
            ('Aaditya', 25, 'Mumbai', 40000),
            ('Saumya', 32, 'Delhi', 35000),
            ('Saumya', 32, 'Delhi', 30000),
            ('Saumya', 32, 'Mumbai', 20000),
            ('Aaditya', 40, 'Dehradun', 24000),
            ('Seema', 32, 'Delhi', 70000)
            ]
 
# Create a DataFrame object from list
df = pd.DataFrame(employees,
                columns =['Name', 'Age',
                        'City', 'Salary'])
# Show the dataframe
df

      Name  Age      City  Salary
0    Stuti   28  Varanasi   20000
1   Saumya   32     Delhi   25000
2  Aaditya   25    Mumbai   40000
3   Saumya   32     Delhi   35000
4   Saumya   32     Delhi   30000
5   Saumya   32    Mumbai   20000
6  Aaditya   40  Dehradun   24000
7    Seema   32     Delhi   70000

In [21]:
# import pandas
import pandas as pd
 
# List of Tuples
employees = [('Stuti', 28, 'Varanasi', 20000),
             ('Saumya', 32, 'Delhi', 25000),
             ('Aaditya', 25, 'Mumbai', 40000),
             ('Saumya', 32, 'Delhi', 35000),
             ('Saumya', 32, 'Delhi', 30000),
             ('Saumya', 32, 'Mumbai', 20000),
             ('Aaditya', 40, 'Dehradun', 24000),
             ('Seema', 32, 'Delhi', 70000)
             ]
 
# Create a DataFrame object from list
df = pd.DataFrame(employees,
                  columns=['Name', 'Age',
                           'City', 'Salary'])
 
# Using the operator []
# to select a column
result = df["City"]
 
# Show the dataframe
result

0    Varanasi
1       Delhi
2      Mumbai
3       Delhi
4       Delhi
5      Mumbai
6    Dehradun
7       Delhi
Name: City, dtype: object

### Q21. How do you select specific rows in a DataFrame using their indexes?

### A.21
### You can select a single row from pandas DataFrame by integer index using df. iloc[n] . Replace n with a position you wanted to select.

### Q22. How do you sort a DataFrame by a specific column?

### A.22
### Sorting Your DataFrame on a Single Column. To sort the DataFrame based on the values in a single column, you'll use . sort_values() . By default, this will return a new DataFrame sorted in ascending order.

### Q23. How do you create a new column in a DataFrame based on the values of another column?

In [22]:
# A.23

import pandas as pd

df = pd.DataFrame(
    [
        (1, 'Hello', 158, True, 12.8),
        (2, 'Hey', 567, False, 74.2),
        (3, 'Hi', 123, False, 1.1),
        (4, 'Howdy', 578, True, 45.8),
        (5, 'Hello', 418, True, 21.1),
        (6, 'Hi', 98, False, 98.1),
    ],
    columns=['colA', 'colB', 'colC', 'colD', 'colE']
)
print(df)

   colA   colB  colC   colD  colE
0     1  Hello   158   True  12.8
1     2    Hey   567  False  74.2
2     3     Hi   123  False   1.1
3     4  Howdy   578   True  45.8
4     5  Hello   418   True  21.1
5     6     Hi    98  False  98.1

In [23]:
def categorise(row):  
    if row['colC'] > 0 and row['colC'] <= 99:
        return 'A'
    elif row['colC'] > 100 and row['colC'] <= 199:
        return 'B'
    elif row['colC'] > 200  and row['colC'] <= 299:
        return 'C'
    return 'D'

In [24]:
df['colF'] = df.apply(lambda row: categorise(row), axis=1)

print(df)

   colA   colB  colC   colD  colE colF
0     1  Hello   158   True  12.8    B
1     2    Hey   567  False  74.2    D
2     3     Hi   123  False   1.1    B
3     4  Howdy   578   True  45.8    D
4     5  Hello   418   True  21.1    D
5     6     Hi    98  False  98.1    A

### Q24. How do you remove duplicates from a DataFrame?

### A.24
### Pandas drop_duplicates() method helps in removing duplicates from the Pandas Dataframe In Python.

In [25]:
import pandas as pd
  
data = {
    "A": ["TeamA", "TeamB", "TeamB", "TeamC", "TeamA"],
    "B": [50, 40, 40, 30, 50],
    "C": [True, False, False, False, True]
}
  
df = pd.DataFrame(data)
  
display(df.drop_duplicates())

       A   B      C
0  TeamA  50   True
1  TeamB  40  False
3  TeamC  30  False

### Q25. What is the difference between .loc and .iloc in Pandas?

### A.25
### The main distinction between loc and iloc is: loc is label-based, which means that you have to specify rows and columns based on their row and column labels. iloc is integer position-based, so you have to specify rows and columns by their integer position values (0-based integer position).

### The loc() function is label based data selecting method which means that we have to pass the name of the row or column which we want to select.

### The iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column.