<a href="https://colab.research.google.com/github/Manishipynb/module1assesment/blob/main/EnergyAnalystAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q.1
## Make a Python Program That Prints Your Name.

In [ ]:
# A.1

name = "manish"
print(name)

manish

In [ ]:
# A.1

name = input("Please Enter Your Name :")
print(f"Youur Name is : {name} ")

Please Enter Your Name :Manish
Youur Name is : Manish

## Q.2
## Make a Python Program that displays the lyrics of songs.

In [ ]:
# A.2


from lyrics_extractor import SongLyrics
 

extract_lyrics = SongLyrics("AIzaSewfsdfsdfOq0oTixw","frewrewrfsac")
 
extract_lyrics.get_lyrics("Tujhse Naraz Nahi Zindagi Lyrics")

## Q.3
## Make a Python Program that displays several numbers.

In [ ]:
# A.3

for i in range(0,51):
  print(i , end = " ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50



## Q.4
## Make a Python Program that shows and solves the summation of 64 + 32

In [ ]:
# A.4

a = 64
b = 32

c = a+b

print (c)

96

## Q.5
## Do the same as in 2 , but make it sum x + y

In [ ]:
# A.5

x = int(input("please enter the number of your choice :"))
y = int(input("please enter the number of your choice :"))

z = x + y

print(z)

please enter the number of your choice :34
please enter the number of your choice :56
90

## Q.6
## Make a Program that displays your favourite actor/actress.

In [ ]:
# A.6

fav_star = input("Please Enter Your Favourite Actor / Actress :")

print(f"Your Favourite Actor / Actress is : {fav_star} ")

Please Enter Your Favourite Actor / Actress :Akshay Kumar
Your Favourite Actor / Actress is : Akshay Kumar

## Q.7
## Try to print the word lucky inside s.

In [ ]:
# A.7

s = "Lucky"
print(s)

Lucky

## Q.8
## Try to Print the day , month , year in the form "today is 2/2/2016"

In [ ]:
# A.8

date = input("Please Enter Today's date in formate D/M/YYYY : ")
print(f"Today's Date is : {date} ")

Please Enter Today's date in formate D/M/YYYY : 2/2/2016
Today's Date is : 2/2/2016

## Q.9
## Try the Replace Program.

In [ ]:
# A.9

a = "Hellow World"
print(a)
b = a.replace("World" , "Earth")
print(b)

Hellow World
Hellow Earth

## Q.10
## can a string replaced twice ?

In [ ]:
# A.10

a = "Hellow World"
print(a)
b = a.replace("World" , "Earth")
print(b)
c = b.replace("Earth" , "Planet")
print(c)

Hellow World
Hellow Earth
Hellow Planet

## Q.11
## Does Replacing Only work with words or also phrases ?

In [ ]:
# A.11

a = "I love My Country Very Much"
print(a)
b = a.replace("I love My Country Very Much" , "World Is Great")
print(b)

I love My Country Very Much
World Is Great

## Q.12
## Find our if String is Case Sensitive.

In [ ]:
# A.12

a = "hello"
b = "Hello"

a == b

False

In [ ]:
# A.12

a = "hello"
b = "hello"

a == b

True

## Q.13
## Create a List of words and join them

In [ ]:
# A.13

a = ["hello"]
b = ["world"]

print(a+b)

['hello', 'world']

In [ ]:
a = "h e l l o"
b = a.replace(" " , "_")
print(b)

h_e_l_l_o

In [ ]:
a = "python"
for i in a:
  print(i)

p
y
t
h
o
n

## Q.14
## Try changing the sepearator string from a space to an undersocre.

In [2]:
# A.14

str_1 = "Hello World World is Beautifull Let's make it Green"
print(str_1)

result = str_1.replace(' ', '_')

print(result)

Hello World World is Beautifull Let's make it Green
Hello_World_World_is_Beautifull_Let's_make_it_Green

## Q.15
## Can a String be split on multiple Characters ?

In [5]:
# A.15

test_str = "Hello_world_will_take_care_Bye)"
 
print(f"The original string is : {test_str} ")
 
result  = test_str.replace('_', ' ').replace(', ', ' ').split()
 
print("The list after performing split functionality : " + str(result))

The original string is : Hello_world_will_take_care_Bye)
The list after performing split functionality : ['Hello', 'world', 'will', 'take', 'care', 'Bye)']

## Q.16
## Can you split a string ?
## this string ?: World , Earth , Aamerica , Canada

In [6]:
# A.16

string = "World , Earth , America , Canada "
new_string = string.split(",")
print(new_string)

['World ', ' Earth ', ' America ', ' Canada ']

In [8]:
# A.16

string = "World , Earth , America , Canada "

for i in string:
  print(i , end=" ")

W o r l d   ,   E a r t h   ,   A m e r i c a   ,   C a n a d a

## Q.17
## Give an Article , Can you split it on based on phreases ?

### A.17

### yes , with help of split() method and  for loop we can split on phreases.

In [9]:
# A.17

s = "Its to easy"
words = s.split()
print(words)

['Its', 'to', 'easy']

In [10]:
# A.17

s = "Its to easy"

for i in s:
  print(i , end = " ")

I t s   t o   e a s y

## Q.18
## Make A Program that creates a random number and stores it into x.

In [13]:
# A.18

import random

x = random.randint(0,100)

print(x)

28

## Q.19
## Make a Program that prints 3 random numbders.

In [16]:
# A.19

import random
randomlist = []
for i in range(0,3):
 n = random.randint(1,30)
 randomlist.append(n)
print(randomlist)

[20, 10, 17]

## Q.20
## Create a Program that generates 100 random numbers and find the frequency of each numbers.

In [17]:
# A.20

import random
randomlist = []
for i in range(0,100):
 n = random.randint(1,1000)
 randomlist.append(n)
print(randomlist)

[773, 296, 95, 464, 515, 184, 252, 612, 632, 157, 280, 486, 308, 872, 25, 407, 770, 953, 989, 139, 350, 219, 155, 424, 23, 934, 846, 59, 150, 814, 155, 342, 334, 662, 206, 84, 786, 448, 431, 627, 605, 334, 864, 191, 297, 38, 801, 140, 176, 724, 244, 983, 516, 128, 233, 511, 80, 972, 604, 997, 891, 843, 662, 37, 103, 350, 826, 963, 597, 805, 894, 385, 908, 995, 775, 921, 616, 233, 380, 673, 473, 797, 702, 40, 973, 966, 631, 645, 310, 547, 970, 608, 912, 367, 218, 980, 450, 177, 855, 603]

In [18]:
def CountFrequency(my_list):
 
    
    freq = {}
    for item in my_list:
        if (item in freq):
            freq[item] += 1
        else:
            freq[item] = 1
 
    for key, value in freq.items():
        print ("% d : % d"%(key, value))
 

if __name__ == "__main__":
    my_list = randomlist
 
    CountFrequency(my_list)

 773 :  1
 296 :  1
 95 :  1
 464 :  1
 515 :  1
 184 :  1
 252 :  1
 612 :  1
 632 :  1
 157 :  1
 280 :  1
 486 :  1
 308 :  1
 872 :  1
 25 :  1
 407 :  1
 770 :  1
 953 :  1
 989 :  1
 139 :  1
 350 :  2
 219 :  1
 155 :  2
 424 :  1
 23 :  1
 934 :  1
 846 :  1
 59 :  1
 150 :  1
 814 :  1
 342 :  1
 334 :  2
 662 :  2
 206 :  1
 84 :  1
 786 :  1
 448 :  1
 431 :  1
 627 :  1
 605 :  1
 864 :  1
 191 :  1
 297 :  1
 38 :  1
 801 :  1
 140 :  1
 176 :  1
 724 :  1
 244 :  1
 983 :  1
 516 :  1
 128 :  1
 233 :  2
 511 :  1
 80 :  1
 972 :  1
 604 :  1
 997 :  1
 891 :  1
 843 :  1
 37 :  1
 103 :  1
 826 :  1
 963 :  1
 597 :  1
 805 :  1
 894 :  1
 385 :  1
 908 :  1
 995 :  1
 775 :  1
 921 :  1
 616 :  1
 380 :  1
 673 :  1
 473 :  1
 797 :  1
 702 :  1
 40 :  1
 973 :  1
 966 :  1
 631 :  1
 645 :  1
 310 :  1
 547 :  1
 970 :  1
 608 :  1
 912 :  1
 367 :  1
 218 :  1
 980 :  1
 450 :  1
 177 :  1
 855 :  1
 603 :  1

## Q.21
## Make a Program that asks for a phone number.

In [19]:
# A.21

phone_number = input("Please Enter Your Phone Nummber : ")

print(f" Your Phone Number is : {phone_number} ")

Please Enter Your Phone Nummber : 9825316216
 Your Phone Number is : 9825316216

## Q.22
## Make a Program That ask's the user's preferred programming language.

In [20]:
# A.22

print("Please Select your Preferred Programming Language :")
print("1.Python 2. Java  3.C++ 4.SQL")

choice = input("Please Select Your Preferred Programming Language from List :")

print(f"Your Preferred Programming Language from List is : {choice} ")

Please Select your Preferred Programming Language :
1.Python 2. Java  3.C++ 4.SQL
Please Select Your Preferred Programming Language from List :python
Your Preferred Programming Language from List is : python

## Q.23
## Make a Program that asks the number between 1 to 10.if number is out of the range the program should display "Invalid Number".

In [29]:
# A.23

choice = int(input("Please Enter The Number Of Your Choice between 1 to 10 :"))

if choice > 10 or choice < 1:
  print("INVALID NUMBER")
else:
  print("VALID NUMBER")

Please Enter The Number Of Your Choice between 1 to 10 :15
INVALID NUMBER

## Q.24
## Make a Program that asks for password

In [30]:
# A.24

password = input("Please Enter Your Valid Passowrd :")

print(f"Your password is : {password} ")

Please Enter Your Valid Passowrd :manishpatel
Your password is : manishpatel

## Q.25
## Make a Program that list the countires in the set.

In [31]:
# A.25

clist = ['CANADA','USA' , 'MEXICO' , 'AUSTRALIA']

for i in clist:
  print(i)

CANADA
USA
MEXICO
AUSTRALIA

## Q.26
## Create a Loop that counts from 0 to 100.

In [33]:
# A.26

for i in range(0,100):
  print(i , end = " ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

## Q.27
## Make a Multiplication table using loop.

In [34]:
# A.27

num = int(input("Display multiplication table of? "))

for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

Display multiplication table of? 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

## Q.28
## output the numbers 1 to 10 backwards using a loop

In [36]:
# A.28

for num in reversed(range(1,11)) :
    print(num, end = " ")

10 9 8 7 6 5 4 3 2 1

## Q.29
## create a loop that counts all even numbers to 10

In [37]:
# A.29

for i in range(2,11 ,2):
  print(i)

2
4
6
8
10

## Q.30
## create a loop that sums the numbers form 100 to 200

In [38]:
# A.30

sum = 0.
for num in range(100,201):
 sum = sum+num
print(f"Sum of Number 100 to 200 is : {sum}")

Sum of Number 100 to 200 is : 15150.0

## Q.31
## Make a Program that lists the country in the set below using a while loop.

In [42]:
# A.31

clist = ["CANADA" ,"USA","MEXICO"]

i = 0
while i < len(clist):
  print(clist[i])
  i = i + 1

CANADA
USA
MEXICO

## Q.32
## What is the Difference between For loop and While loop in Python ?

### A.32 
### For loop is used when the number of iterations is already known. While loop is used when the number of iterations is already Unknown.

## Q.33
## Can you sum numbers in while loop ?

### A.33
### YES

In [43]:
# A.33

n = 20
total_numbers = n
sum = 0
while n >= 0:
    sum += n
    n -= 1
print("sum =", sum)

sum = 210

## Q. 34
## Can a For Loop be used inside a while loop in python ?

### A.34
### You can put a for loop inside a while, or a while inside a for, or a for inside a for, or a while inside a while. Or you can put a loop inside a loop inside a loop. You can go as far as you want.

## Q.35
## Make a Function that sums the list .

In [46]:
# A.35

mylist = [1,2,3,4,5]

def sumOfList(list, size):
    if (size == 0):
        return 0
    else:
        return list[size - 1] + sumOfList(list, size - 1)
 
 

total = sumOfList(mylist, len(mylist))
 
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  15

## Q.36
## Can functions be called inside functions in python ?

### A.36
### In Python, any written function can be called by another function. Note that this could be the most elegant way of breaking a problem into chunks of small problems.

## Q.37
## can a function call itself in python ?

### A.37

### Python also accepts function recursion, which means a defined function can call itself. Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

## Q.38
## Can Variables defined in a function be used in another function in python ?

### A.38
### Variables defined inside functions are called local variables. Their value can only be used within the function where they are declared. You can change the scope of a local variable using the global keyword

## Q.39
## Make a Program that displays the states in us

In [47]:
# A.39

state_names=["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]

## Q.40
## Display all states starting with letter M

In [51]:
# A.40

state_names=["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]

for letter in state_names:
   if letter[0] == 'M' :
     print(letter)

Maine
Maryland
Massachusetts
Michigan
Minnesota
Mississippi
Missouri
Montana

## Q.41
## given the list , add the items.

In [53]:
# A.41

y = [6,4,2]
# add the item 12,8,4

y.append(12)
y.append(8)
y.append(4)

print(y)

[6, 4, 2, 12, 8, 4]

## Q.42
## change the list item.

In [56]:
# A.42

y = [6,4,2,12,8,4]
y[2] = 3

print(y)

[6, 4, 3, 12, 8, 4]

## Q.43
## given a list with pairs , sort first element.

In [58]:
# A.43

x = [(23,34),(89,85),(12,321),(56,87), (56,34)]

def takefirst(elem):
    return elem[0]

x.sort(key=takefirst)


print('Sorted list:', x)

Sorted list: [(12, 321), (23, 34), (56, 87), (56, 34), (89, 85)]

## Q.44 
## given a list with pairs , sort second element.

In [57]:
# A.44

x = [(23,34),(89,85),(12,321),(56,87), (56,34)]

def takeSecond(elem):
    return elem[1]

x.sort(key=takeSecond)


print('Sorted list:', x)

Sorted list: [(23, 34), (56, 34), (89, 85), (56, 87), (12, 321)]

## Q.45
## create a list of 1000 numbers.

In [66]:
# A.45

for i in range(1,1001):
  print(i , end = " , ")

1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10 , 11 , 12 , 13 , 14 , 15 , 16 , 17 , 18 , 19 , 20 , 21 , 22 , 23 , 24 , 25 , 26 , 27 , 28 , 29 , 30 , 31 , 32 , 33 , 34 , 35 , 36 , 37 , 38 , 39 , 40 , 41 , 42 , 43 , 44 , 45 , 46 , 47 , 48 , 49 , 50 , 51 , 52 , 53 , 54 , 55 , 56 , 57 , 58 , 59 , 60 , 61 , 62 , 63 , 64 , 65 , 66 , 67 , 68 , 69 , 70 , 71 , 72 , 73 , 74 , 75 , 76 , 77 , 78 , 79 , 80 , 81 , 82 , 83 , 84 , 85 , 86 , 87 , 88 , 89 , 90 , 91 , 92 , 93 , 94 , 95 , 96 , 97 , 98 , 99 , 100 , 101 , 102 , 103 , 104 , 105 , 106 , 107 , 108 , 109 , 110 , 111 , 112 , 113 , 114 , 115 , 116 , 117 , 118 , 119 , 120 , 121 , 122 , 123 , 124 , 125 , 126 , 127 , 128 , 129 , 130 , 131 , 132 , 133 , 134 , 135 , 136 , 137 , 138 , 139 , 140 , 141 , 142 , 143 , 144 , 145 , 146 , 147 , 148 , 149 , 150 , 151 , 152 , 153 , 154 , 155 , 156 , 157 , 158 , 159 , 160 , 161 , 162 , 163 , 164 , 165 , 166 , 167 , 168 , 169 , 170 , 171 , 172 , 173 , 174 , 175 , 176 , 177 , 178 , 179 , 180 , 181 , 182 , 183 , 184 , 185 , 186 , 187 , 188 , 189 , 190 , 191 , 192 , 193 , 194 , 195 , 196 , 197 , 198 , 199 , 200 , 201 , 202 , 203 , 204 , 205 , 206 , 207 , 208 , 209 , 210 , 211 , 212 , 213 , 214 , 215 , 216 , 217 , 218 , 219 , 220 , 221 , 222 , 223 , 224 , 225 , 226 , 227 , 228 , 229 , 230 , 231 , 232 , 233 , 234 , 235 , 236 , 237 , 238 , 239 , 240 , 241 , 242 , 243 , 244 , 245 , 246 , 247 , 248 , 249 , 250 , 251 , 252 , 253 , 254 , 255 , 256 , 257 , 258 , 259 , 260 , 261 , 262 , 263 , 264 , 265 , 266 , 267 , 268 , 269 , 270 , 271 , 272 , 273 , 274 , 275 , 276 , 277 , 278 , 279 , 280 , 281 , 282 , 283 , 284 , 285 , 286 , 287 , 288 , 289 , 290 , 291 , 292 , 293 , 294 , 295 , 296 , 297 , 298 , 299 , 300 , 301 , 302 , 303 , 304 , 305 , 306 , 307 , 308 , 309 , 310 , 311 , 312 , 313 , 314 , 315 , 316 , 317 , 318 , 319 , 320 , 321 , 322 , 323 , 324 , 325 , 326 , 327 , 328 , 329 , 330 , 331 , 332 , 333 , 334 , 335 , 336 , 337 , 338 , 339 , 340 , 341 , 342 , 343 , 344 , 345 , 346 , 347 , 348 , 349 , 350 , 351 , 352 , 353 , 354 , 355 , 356 , 357 , 358 , 359 , 360 , 361 , 362 , 363 , 364 , 365 , 366 , 367 , 368 , 369 , 370 , 371 , 372 , 373 , 374 , 375 , 376 , 377 , 378 , 379 , 380 , 381 , 382 , 383 , 384 , 385 , 386 , 387 , 388 , 389 , 390 , 391 , 392 , 393 , 394 , 395 , 396 , 397 , 398 , 399 , 400 , 401 , 402 , 403 , 404 , 405 , 406 , 407 , 408 , 409 , 410 , 411 , 412 , 413 , 414 , 415 , 416 , 417 , 418 , 419 , 420 , 421 , 422 , 423 , 424 , 425 , 426 , 427 , 428 , 429 , 430 , 431 , 432 , 433 , 434 , 435 , 436 , 437 , 438 , 439 , 440 , 441 , 442 , 443 , 444 , 445 , 446 , 447 , 448 , 449 , 450 , 451 , 452 , 453 , 454 , 455 , 456 , 457 , 458 , 459 , 460 , 461 , 462 , 463 , 464 , 465 , 466 , 467 , 468 , 469 , 470 , 471 , 472 , 473 , 474 , 475 , 476 , 477 , 478 , 479 , 480 , 481 , 482 , 483 , 484 , 485 , 486 , 487 , 488 , 489 , 490 , 491 , 492 , 493 , 494 , 495 , 496 , 497 , 498 , 499 , 500 , 501 , 502 , 503 , 504 , 505 , 506 , 507 , 508 , 509 , 510 , 511 , 512 , 513 , 514 , 515 , 516 , 517 , 518 , 519 , 520 , 521 , 522 , 523 , 524 , 525 , 526 , 527 , 528 , 529 , 530 , 531 , 532 , 533 , 534 , 535 , 536 , 537 , 538 , 539 , 540 , 541 , 542 , 543 , 544 , 545 , 546 , 547 , 548 , 549 , 550 , 551 , 552 , 553 , 554 , 555 , 556 , 557 , 558 , 559 , 560 , 561 , 562 , 563 , 564 , 565 , 566 , 567 , 568 , 569 , 570 , 571 , 572 , 573 , 574 , 575 , 576 , 577 , 578 , 579 , 580 , 581 , 582 , 583 , 584 , 585 , 586 , 587 , 588 , 589 , 590 , 591 , 592 , 593 , 594 , 595 , 596 , 597 , 598 , 599 , 600 , 601 , 602 , 603 , 604 , 605 , 606 , 607 , 608 , 609 , 610 , 611 , 612 , 613 , 614 , 615 , 616 , 617 , 618 , 619 , 620 , 621 , 622 , 623 , 624 , 625 , 626 , 627 , 628 , 629 , 630 , 631 , 632 , 633 , 634 , 635 , 636 , 637 , 638 , 639 , 640 , 641 , 642 , 643 , 644 , 645 , 646 , 647 , 648 , 649 , 650 , 651 , 652 , 653 , 654 , 655 , 656 , 657 , 658 , 659 , 660 , 661 , 662 , 663 , 664 , 665 , 666 , 667 , 668 , 669 , 670 , 671 , 672 , 673 , 674 , 675 , 676 , 677 , 678 , 679 , 680 , 681 , 682 , 683 , 684 , 685 , 686 , 687 , 688 , 689 , 690 , 691 , 692 , 693 , 694 , 695 , 696 , 697 , 698 , 699 , 700 , 701 , 702 , 703 , 704 , 705 , 706 , 707 , 708 , 709 , 710 , 711 , 712 , 713 , 714 , 715 , 716 , 717 , 718 , 719 , 720 , 721 , 722 , 723 , 724 , 725 , 726 , 727 , 728 , 729 , 730 , 731 , 732 , 733 , 734 , 735 , 736 , 737 , 738 , 739 , 740 , 741 , 742 , 743 , 744 , 745 , 746 , 747 , 748 , 749 , 750 , 751 , 752 , 753 , 754 , 755 , 756 , 757 , 758 , 759 , 760 , 761 , 762 , 763 , 764 , 765 , 766 , 767 , 768 , 769 , 770 , 771 , 772 , 773 , 774 , 775 , 776 , 777 , 778 , 779 , 780 , 781 , 782 , 783 , 784 , 785 , 786 , 787 , 788 , 789 , 790 , 791 , 792 , 793 , 794 , 795 , 796 , 797 , 798 , 799 , 800 , 801 , 802 , 803 , 804 , 805 , 806 , 807 , 808 , 809 , 810 , 811 , 812 , 813 , 814 , 815 , 816 , 817 , 818 , 819 , 820 , 821 , 822 , 823 , 824 , 825 , 826 , 827 , 828 , 829 , 830 , 831 , 832 , 833 , 834 , 835 , 836 , 837 , 838 , 839 , 840 , 841 , 842 , 843 , 844 , 845 , 846 , 847 , 848 , 849 , 850 , 851 , 852 , 853 , 854 , 855 , 856 , 857 , 858 , 859 , 860 , 861 , 862 , 863 , 864 , 865 , 866 , 867 , 868 , 869 , 870 , 871 , 872 , 873 , 874 , 875 , 876 , 877 , 878 , 879 , 880 , 881 , 882 , 883 , 884 , 885 , 886 , 887 , 888 , 889 , 890 , 891 , 892 , 893 , 894 , 895 , 896 , 897 , 898 , 899 , 900 , 901 , 902 , 903 , 904 , 905 , 906 , 907 , 908 , 909 , 910 , 911 , 912 , 913 , 914 , 915 , 916 , 917 , 918 , 919 , 920 , 921 , 922 , 923 , 924 , 925 , 926 , 927 , 928 , 929 , 930 , 931 , 932 , 933 , 934 , 935 , 936 , 937 , 938 , 939 , 940 , 941 , 942 , 943 , 944 , 945 , 946 , 947 , 948 , 949 , 950 , 951 , 952 , 953 , 954 , 955 , 956 , 957 , 958 , 959 , 960 , 961 , 962 , 963 , 964 , 965 , 966 , 967 , 968 , 969 , 970 , 971 , 972 , 973 , 974 , 975 , 976 , 977 , 978 , 979 , 980 , 981 , 982 , 983 , 984 , 985 , 986 , 987 , 988 , 989 , 990 , 991 , 992 , 993 , 994 , 995 , 996 , 997 , 998 , 999 , 1000 ,

## Q.46
## Get the Largest and smallest numbers form the list.

In [67]:
# A.46

l = []

for i in range(1,1001):
 l.append(i)

print(l)

largest = max(l)
print(f"largest number in list is : {largest}" )

smallest = min(l)
print(f"smallest number in list is : {smallest}")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]
largest number in list is : 1000
smallest number in list is : 1

## Q.47
## create two lists , even and odd

In [70]:
# A.47

l = []

for i in range(1,1001):
 l.append(i)

print(l)

even = []

for i in l:
  if i%2 == 0:
    even.append(i)

print(even)

odd = []

for i in l:
  if i%2 != 0:
    odd.append(i)

print(odd)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998, 1000]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233, 235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 281, 283, 285, 287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 333, 335, 337, 339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363, 365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 385, 387, 389, 391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415, 417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 437, 439, 441, 443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467, 469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 489, 491, 493, 495, 497, 499, 501, 503, 505, 507, 509, 511, 513, 515, 517, 519, 521, 523, 525, 527, 529, 531, 533, 535, 537, 539, 541, 543, 545, 547, 549, 551, 553, 555, 557, 559, 561, 563, 565, 567, 569, 571, 573, 575, 577, 579, 581, 583, 585, 587, 589, 591, 593, 595, 597, 599, 601, 603, 605, 607, 609, 611, 613, 615, 617, 619, 621, 623, 625, 627, 629, 631, 633, 635, 637, 639, 641, 643, 645, 647, 649, 651, 653, 655, 657, 659, 661, 663, 665, 667, 669, 671, 673, 675, 677, 679, 681, 683, 685, 687, 689, 691, 693, 695, 697, 699, 701, 703, 705, 707, 709, 711, 713, 715, 717, 719, 721, 723, 725, 727, 729, 731, 733, 735, 737, 739, 741, 743, 745, 747, 749, 751, 753, 755, 757, 759, 761, 763, 765, 767, 769, 771, 773, 775, 777, 779, 781, 783, 785, 787, 789, 791, 793, 795, 797, 799, 801, 803, 805, 807, 809, 811, 813, 815, 817, 819, 821, 823, 825, 827, 829, 831, 833, 835, 837, 839, 841, 843, 845, 847, 849, 851, 853, 855, 857, 859, 861, 863, 865, 867, 869, 871, 873, 875, 877, 879, 881, 883, 885, 887, 889, 891, 893, 895, 897, 899, 901, 903, 905, 907, 909, 911, 913, 915, 917, 919, 921, 923, 925, 927, 929, 931, 933, 935, 937, 939, 941, 943, 945, 947, 949, 951, 953, 955, 957, 959, 961, 963, 965, 967, 969, 971, 973, 975, 977, 979, 981, 983, 985, 987, 989, 991, 993, 995, 997, 999]

## Q.48
## make a mapping from countires to country short codes.

In [75]:
pip install pycountry

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pycountry
  Downloading pycountry-22.3.5.tar.gz (10.1 MB)
     |████████████████████████████████| 10.1 MB 11.8 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from pycountry) (57.4.0)
Building wheels for collected packages: pycountry
  Building wheel for pycountry (PEP 517) ... done
  Created wheel for pycountry: filename=pycountry-22.3.5-py2.py3-none-any.whl size=10681845 sha256=22438efb779b774ebdcf684d20432a06d613ef1d0e6d599957a3fe8aa0a93838
  Stored in directory: /root/.cache/pip/wheels/0e/06/e8/7ee176e95ea9a8a8c3b3afcb1869f20adbd42413d4611c6eb4
Successfully built pycountry
Installing collected packages: pycountry
Successfully installed pycountry-22.3.5

In [78]:
# A.48

import pycountry

input_countries = ['India', 'Canada', 'France']

countries = {}
for country in pycountry.countries:
    countries[country.name] = country.alpha_2

codes = [countries.get(country, 'Unknown code') for country in input_countries]

print(codes)

['IN', 'CA', 'FR']

## Q.49
## print each items by key: value

In [80]:
# A.49

input_countries = ['India', 'Canada', 'France']
codes = ['IN', 'CA', 'FR']

print("Original Country list is : " + str(input_countries))
print("Original Codes list is : " + str(codes))
 
res = {}
for key in input_countries:
    for value in codes:
        res[key] = value
        codes.remove(value)
        break
 
print("Resultant dictionary is : " + str(res))

Original Country list is : ['India', 'Canada', 'France']
Original Codes list is : ['IN', 'CA', 'FR']
Resultant dictionary is : {'India': 'IN', 'Canada': 'CA', 'France': 'FR'}

## Q.50
## Read a File and number every line.

In [88]:
# A.50


  
L = ["it\n" ,  "is a long established\n" ,"fact that a reader will be distracted\n" , "by the readable content of a page when looking at\n" , "its layout. The point of using Lorem\n",  "Ipsum is that it has a more-or-less normal distribution\n" , "of letters, as opposed to using 'Content here, content here\n" ,"making it look like readable English\n"]
file1 = open('myfile.txt', 'w')
file1.writelines(L)
file1.close()
  

file1 = open('myfile.txt', 'r')
Lines = file1.readlines()
  
count = 0

for line in Lines:
    count += 1
    print("Line{}: {}".format(count, line.strip()))

Line1: it
Line2: is a long established
Line3: fact that a reader will be distracted
Line4: by the readable content of a page when looking at
Line5: its layout. The point of using Lorem
Line6: Ipsum is that it has a more-or-less normal distribution
Line7: of letters, as opposed to using 'Content here, content here
Line8: making it look like readable English

## Q.51
## find out what the programe does if the file dosen't exit.

### A.51
### If you reference a file that does not exist, Python will return an error. One type of error is the FileNotFoundError, which is raised when referencing a file that does not exist using the os library.

## Q.52
## what happens if you create a file with another user and try to open it in python ?

### A.52
### it will ask for your password. then after you enter your password it will open python like normal.

## Q.53
## write the text"Take is easy " to a file.

In [89]:
# A.53
L = ["Take It Easy"]
file1 = open('myfile.txt', 'w')
file1.writelines(L)
file1.close()
  

file1 = open('myfile.txt', 'r')
Lines = file1.readlines()
  
count = 0

for line in Lines:
    count += 1
    print("Line{}: {}".format(count, line.strip()))

Line1: Take It Easy

## Q.54
## write the line open("text.txt")to a file in a python.

In [ ]:
# A.54

open("text.txt")

### A.54
### **If the text file and your current file are in the same directory ("folder"), then you can just reference the file name in the open() function.**

## Q.55
## Given tic-tac-toe board of 3x3 , print every position.

In [91]:
# A.55

def draw():
    board = ''

    for i in range(-1,6):

        if i%2==0:
            board += '|      ' * 4
            board += '\n|      |      |      |'

        else:
            board += ' _____ ' * 3

        board += '\n'
    print (board)

draw()

 _____  _____  _____
|      |      |      |
|      |      |      |
 _____  _____  _____
|      |      |      |
|      |      |      |
 _____  _____  _____
|      |      |      |
|      |      |      |
 _____  _____  _____

## Q.56
## Create A program Where every person meets the other person .

In [92]:
# A.56

persons = ["John", "Marissa", "Pete", "Dayton"]

them = ["Dayton", "Pete", "Marissa", "John"]

for x in persons:
    for y in them:
        if not x==y:
            print(x, "Meets", y)

John Meets Dayton
John Meets Pete
John Meets Marissa
Marissa Meets Dayton
Marissa Meets Pete
Marissa Meets John
Pete Meets Dayton
Pete Meets Marissa
Pete Meets John
Dayton Meets Pete
Dayton Meets Marissa
Dayton Meets John

## Q.57
## if normal for loop finish in n steps 0(n),how many steps has a nested loop ?

### A.57
### **For loops are used when you have a block of code which you want to repeat a fixed number of times.**

### In the case of nested loops, the above three steps are checked for each loop inside it. Thus with each flow of the outer loop, the inner loop executes completely, which means if we have m flows for the outer loop and n number of flows for the outer loop, then this loop together will be executed m*n times.

## Q.58
## Take a slice of the below list :

In [94]:
# A.58

pizzas = ["Hawaii" , "Peproni" , "Formaggi" , "Napolitana" , "Diavoli"]

pizzas[:3]

['Napolitana', 'Diavoli']

In [95]:
pizzas = ["Hawaii" , "Peproni" , "Formaggi" , "Napolitana" , "Diavoli"]

pizzas[2:]

['Formaggi', 'Napolitana', 'Diavoli']

In [96]:
pizzas = ["Hawaii" , "Peproni" , "Formaggi" , "Napolitana" , "Diavoli"]

pizzas[-1]

'Diavoli'

In [97]:
pizzas = ["Hawaii" , "Peproni" , "Formaggi" , "Napolitana" , "Diavoli"]

pizzas[1:3]

['Peproni', 'Formaggi']

## Q.59
## Given the Text"hello world" take the slice "world"

In [99]:
# A.59

a = "hello world"
a[6:]

'world'

## Q.60
## create a function that returns a,b and a+b

In [100]:
# A.60

def my_function(a,b):
  c = a+b
  return(c)

In [101]:
my_function(10 , 20)

30

## Q.61
## Create a function that returns 5 variables.

In [104]:
# A.61

class Test:
    def __init__(self):
        self.str = "world is beautifull and lovely"
        self.x = 50  
        self.y = 100
        self.z = "hello world"
        self.u = "manish"
  

def fun():
    return Test()
      

t = fun() 
print(t.str)
print(t.x)
print(t.y)
print(t.z)
print(t.u)

world is beautifull and lovely
50
100
hello world
manish

## Q.62
## add a function reduce amount that changes the variable balance.

In [108]:
# A.62

def my_add(a, b):
   result = a + b
   print(f"{a} + {b} = {result}")
   return result
   
from functools import reduce

numbers = [0, 1, 2, 3, 4]

reduce(my_add, numbers)

0 + 1 = 1
1 + 2 = 3
3 + 3 = 6
6 + 4 = 10

10

## Q.63
## Create a function with a local variable

In [110]:
# A.63

def f():
  
    
    s = "Hellow World"
    print(s)
  
  

f()

Hellow World

## Q.64
## print the date in format year-month-day

In [111]:
# A.64

import datetime

datetime_object = datetime.datetime.now()
print(datetime_object)

2022-11-30 10:42:54.877223