<a href="https://colab.research.google.com/github/Manishipynb/module1assesment/blob/main/EnergyAnalystAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q.1
## Make a Python Program That Prints Your Name.

In [2]:
# A.1

name = "manish"
print(name)

manish

In [3]:
# A.1

name = input("Please Enter Your Name :")
print(f"Youur Name is : {name} ")

Please Enter Your Name :Manish
Youur Name is : Manish

## Q.2
## Make a Python Program that displays the lyrics of songs.

In [ ]:
# A.2


from lyrics_extractor import SongLyrics
 

extract_lyrics = SongLyrics("AIzaSewfsdfsdfOq0oTixw","frewrewrfsac")
 
extract_lyrics.get_lyrics("Tujhse Naraz Nahi Zindagi Lyrics")

## Q.3
## Make a Python Program that displays several numbers.

In [7]:
# A.3

for i in range(0,51):
  print(i , end = " ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50



## Q.4
## Make a Python Program that shows and solves the summation of 64 + 32

In [8]:
# A.4

a = 64
b = 32

c = a+b

print (c)

96

## Q.5
## Do the same as in 2 , but make it sum x + y

In [12]:
# A.5

x = int(input("please enter the number of your choice :"))
y = int(input("please enter the number of your choice :"))

z = x + y

print(z)

please enter the number of your choice :34
please enter the number of your choice :56
90

## Q.6
## Make a Program that displays your favourite actor/actress.

In [13]:
# A.6

fav_star = input("Please Enter Your Favourite Actor / Actress :")

print(f"Your Favourite Actor / Actress is : {fav_star} ")

Please Enter Your Favourite Actor / Actress :Akshay Kumar
Your Favourite Actor / Actress is : Akshay Kumar

## Q.7
## Try to print the word lucky inside s.

In [14]:
# A.7

s = "Lucky"
print(s)

Lucky

## Q.8
## Try to Print the day , month , year in the form "today is 2/2/2016"

In [16]:
# A.8

date = input("Please Enter Today's date in formate D/M/YYYY : ")
print(f"Today's Date is : {date} ")

Please Enter Today's date in formate D/M/YYYY : 2/2/2016
Today's Date is : 2/2/2016

## Q.9
## Try the Replace Program.

In [19]:
# A.9

a = "Hellow World"
print(a)
b = a.replace("World" , "Earth")
print(b)

Hellow World
Hellow Earth

## Q.10
## can a string replaced twice ?

In [21]:
# A.10

a = "Hellow World"
print(a)
b = a.replace("World" , "Earth")
print(b)
c = b.replace("Earth" , "Planet")
print(c)

Hellow World
Hellow Earth
Hellow Planet

## Q.11
## Does Replacing Only work with words or also phrases ?

In [23]:
# A.11

a = "I love My Country Very Much"
print(a)
b = a.replace("I love My Country Very Much" , "World Is Great")
print(b)

I love My Country Very Much
World Is Great

## Q.12
## Find our if String is Case Sensitive.

In [24]:
# A.12

a = "hello"
b = "Hello"

a == b

False

In [25]:
# A.12

a = "hello"
b = "hello"

a == b

True

## Q.13
## Create a List of words and join them

In [26]:
# A.13

a = ["hello"]
b = ["world"]

print(a+b)

['hello', 'world']

In [30]:
a = "h e l l o"
b = a.replace(" " , "_")
print(b)

h_e_l_l_o

In [31]:
a = "python"
for i in a:
  print(i)

p
y
t
h
o
n