<a href="https://colab.research.google.com/github/Manishipynb/module1assesment/blob/main/ProgrammingAssignmentNo_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q.1
## Write a Python Program to find sum of elements in list.

In [2]:
total = 0

list1 = [14, 65, 17, 17, 13]
 
for ele in range(0, len(list1)):
    total = total + list1[ele]
 
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  126

## Q.2
## Write a Python Program to Multiply all numbers in the list.

In [3]:
def multiplyList(myList):
    result = 1
    for x in myList:
        result = result * x
    return result
 
list1 = [1, 2, 3]
list2 = [3, 2, 4]
print(multiplyList(list1))
print(multiplyList(list2))

6
24

## Q.3
## Write a Python Program to find smallest number in a list.

In [4]:
list1 = [10, 20, 4, 45, 99]
 
list1.sort()
 
print("Smallest element is:", list1[0])

Smallest element is: 4

## Q.4
## Write a Python Program to find largest number in  a list.

In [5]:
list1 = [10, 20, 4, 45, 99]
 
list1.sort()
 
print("Largest element is:", list1[-1])

Largest element is: 99

## Q.5
## Write a Python Program to find second largest number in a list.

In [6]:
list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]
 
list2 = list(set(list1))
 
list2.sort()
 
print("Second largest element is:", list2[-2])

Second largest element is: 45

## Q.6
## Write a Python Program to find N largest elements from a list.

In [7]:
l = [1000,298,3579,100,200,-45,900]
n = 4
 
l.sort()
print(l[-n:])

[298, 900, 1000, 3579]

## Q.7
## Write a Python Program to print even numbers in a list.

In [12]:
list1 = [10, 21, 4, 45, 66, 93]
 
for num in list1:
    if num % 2 == 0:
        print(num, end="   ")

10   4   66

## Q.8
## Write a Python program to print odd numbers in  a list.

In [13]:
list1 = [11, 22, 40, 45, 66, 93]
 
for num in list1:
    if num % 2 != 0:
      print(num, end="   ")

11   45   93

## Q.9
## Write a Python Program to Remove empty List from list.

In [14]:
test_list = [5, 6, [], 3, [], [], 9]
 
print("The original list is : " + str(test_list))
 
res = [ele for ele in test_list if ele != []]
 
print("List after empty list removal : " + str(res))

The original list is : [5, 6, [], 3, [], [], 9]
List after empty list removal : [5, 6, 3, 9]

## Q.10
## Write a Python Program to Cloning or Copying a list.

In [15]:
def Cloning(li1):
    li_copy = li1[:]
    return li_copy
 
li1 = [4, 8, 2, 10, 15, 18]
li2 = Cloning(li1)
print("Original List:", li1)
print("After Cloning:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [18]:
def Cloning(li1):
    li_copy = []
    li_copy.extend(li1)
    return li_copy
 
li1 = [4, 8, 2, 10, 15, 18]
li2 = Cloning(li1)
print("Original List:", li1)
print("After Cloning:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

## Q.11
## Write a Python Program to Count occurrences of an element in a list.

In [22]:
def countX(lst, x):
    return lst.count(x)
 
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x,
                                        countX(lst, x)))

8 has occurred 5 times