<a href="https://colab.research.google.com/github/Manishipynb/module1assesment/blob/main/Python_Basic_Assignement_No_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Q.1 In the below elements which of them are values or an expression ?
### Values can be Integer or String
### Expression will be Mathematical Operators.

### A.1
### 1] * = Is a Mathematical Operatos of Multiplication.
### 2] 'hello' = Is a String.
### 3] -87.8 = Is a Integer.
### 4] - = Is a Mathematical Operators of Substraction.
### 5] / = Is a Mathematical Operator of Division.
### 6] + = Is a mathematical Operator of Addition.
### 7] 6 = Is a Integer.

### Q.2 
### What is the Difference between String and Variable ?

### A.2 
### Variable are Symbols that you can use to store the data in a program.
### String are Data , so we can use them to fill up a Variable.
### think of Empty Box ( VARIABLE ) that can be fill with some Data or Value ( STRING ).

### Q.3 
### Describe Three Different Data Types.

### A.3
### 1] Integers = Whole Numbers
### 2] Floats = Decimal Numbers
### 3] Booleans = Truth Value ( Yes / No )
### 4] Strings = Text Data

### Q.4
### What is an Expression made up of ?
### What do all expressions do ?

### A.4
### An Expression is a combination of Operators and Operand that is interpreted to produce some of the Values.
### If there is more that one Operator in an Expressions their precedence decides which operation will be  performed first.
### Python have many different types of Expressions.
### 

1.   Constant Expressions
2.   Arithmetic Expressions
3.   Integral Expressions
4.   Floating Expressions
5.   Relational Expressions
6.   Logical Expressions
7.   Bitwise Expressions
8.   Combinational Expressions

### Q.5 
### This assignments statements , like spam = 10.
### What is the difference between an expressions and a statement ?

### A.5
### Here spam = 10 , is a Statement.
### Statement is like creating a variable or displaying a value.
### statement which is just a standalone unit of execution and dosen't return anything.

### An Expression always evalutes to a value.
### An Expression is a combination of values and functions that combined and interpreted by the compiler to create a new value.

### Q.6
### After running the following code , what does the variable bacon contain ?

### bacon = 22
### bacon + 1

# bacon variable will contain the same value of 22. there will not be any change in value of bacon.

# yes , if you run the program it will give you value of 23 , but will not change value of bacon.

In [5]:
 bacon = 22
 bacon + 1
 print(bacon)

 # bacon variable contain the same valule of 22.

22

In [6]:
bacon = 22
bacon + 1
 

 # this program will return value 23 , but bacon variable value won't change.

23

### Q.7
### what should be the values of the following two terms be ?
### 1. 'spam' + 'spamspam'
### 2. 'spam'*3

In [7]:
# A.7 , CASE - 1

'spam' + 'spamspam'

'spamspamspam'

In [8]:
# A.7 , CASE - 2

'spam'*3

'spamspamspam'

### Both Case have same output.

### Q.8 
### Why eggs a valid variable name while 100 is invalid ?

### A.8 
### eggs  = is a valid variable name because its fullfill all the condition by python to be variable name like , 1 ] name must start with letter , 2] can contain alphabatic characters.

### 100 = is a invalid variable name because it is not fullfilling the basic and first condition of python to be variable name like , 1] A Variable Name CANNOT START WITH A NUMBER.

### Q.9 
### What three functions can be used to get the integer , floating-point number or a string versions of a value.

### A.9 

### Integer = int()
### Floating-point number = float()
### string = str()

### Q.10
### Why does this expression cause an error ? How can you fix it ?

In [9]:
# A.10 

'i have eaten' + 99 + 'burritos'

# this is wrong typeerror. cant add string with integer, not possible.

TypeError: ignored

In [11]:
# A.10 

' i have eaten ' + ' 99 ' + ' burritos '

# THIS IS CORRECT ONE. WE HAVE TO CONVERT 99 ( INTEGER ) TO '99' (STRING).

' i have eaten  99  burritos '